@page "/Signin"

<h1 style="color: blueviolet;"> Welcome..!  </h1>
<div>
    <h2 style="color: brown;">-- Sign In --</h2>
    <div>
        <div><label for="username">UserName :</label> <br> <br>
            <input type="username" name=" " id="1">
        </div>
        
        <div>
            <label for="password">Password :</label>    <br> <br>
            <input type="password" name=" " id="2 ">
        </div>
    </div>
    <br> <br>
    <div>
        <button type="submit">SignIn</button>
        <button type="reset">Clear</button>
        <button type="button">Cancel</button>
    </div>
</div>