@page "/SignupPage"

<h1 style="color: blueviolet;"> Sign Up to the Application</h1>
<div>
    <div>
        <div><label for="username">UserName :</label> <br> <br>
            <input type="username" name=" " id="1">
        </div>
        
        <div>
            <label for="password">Password :</label>    <br> <br>
            <input type="password" name=" " id="2 ">
        </div>

        <div>
            <label for="Mobile">Mobile :</label>    <br> <br>
            <input type="number" name=" " id="3 ">
        </div>

    </div>
    <br> <br>
    <div>
        <button type="submit">SignUp</button>
        <button type="reset">Clear</button>
        <button type="button">Cancel</button>
    </div>
    <div class="nav-item px-3">
            <NavLink class="nav-link" href="Signin">
                <span style="text-align: right;"> Sign In</span>  
            </NavLink>
        </div>
    
</div>